footer {
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catchphrase p {
  color: var(--text);
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1500px;
}

.footer-container h3 {
  color: var(--primary);
}

.footer-btn {
  padding: 0;
  background: transparent;
  font-weight: normal;
  font-size: 1rem;
}

.footer-container ul {
  list-style: none;
}
