#goal {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.dashboard-header {
  width: 100%;
  padding: 0;
  margin: 0;
  background: var(--surface);
}

.dashboard-nav {
  box-shadow: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.dashboard.logo {
  font-size: 1.8rem;
}

.dashboard-links {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.dashboard-link,
.check-in-link {
  padding: 10px 5px;
  color: var(--primary);
  border: 1px solid var(--gray-light);
  font-weight: bold;
  font-size: 0.85rem;
  width: 130px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: 
    background 0.3s ease,
    color 0.3s ease,
    border 0.3s ease
  ;
}

.dashboard-link::before {
  content: "◆";
  margin-right: 3px;
}

.check-in-link::before {
  content: "✓";
  margin-right: 3px;
}

.dashboard-link:hover,
.check-in-link:hover {
  background: var(--accent);
  color: var(--surface);
  border: none;
}

.dashboard-main {
  margin-top: 200px;
}

.dashboard-main {
  padding: 20px;
}

.saved-goal {
  padding: 20px 40px;
  background: var(--primary);
  color: var(--surface);
  font-weight: bold;
  font-size: 1.35rem;
  border-radius: 10px;
  box-shadow: var(--shadow);
  text-align: center;
}

.goal-form form {
  background: var(--surface);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.goal-label {
  font-size: 1.5rem;
  color: var(--text);
}

.goal-input {
  padding: 10px;
  border: 1px solid var(--gray-light);
  border-radius: 5px;
  font-family: inherit;
  font-size: 1rem;
}

.goal-input:focus {
  outline-color: var(--accent);
}

.submit {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: var(--accent);
  color: var(--surface);
  font-size: 1rem;
}

.bento {
  width: 100%;
  max-width: 1000px;
  padding: 10px;
  margin: 20px auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.bento div {
  box-shadow: var(--shadow);
  background: var(--surface);
  border-radius: 10px;
  padding: 20px 40px;
}

.streak,
.alignment,
.recent-checkins {
  text-align: center;
}

.count,
.rate {
  font-size: 3rem;
  color: var(--text);
}

.streak span,
.alignment span {
  font-size: 0.9rem;
  color: var(--gray-medium);
}

.recent-checkins h2 {
  color: var(--text);
  font-size: 1.3rem;
}

.checkin-card {
  width: 90%;
  max-width: 800px;
  margin: 200px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--shadow);
  background: var(--surface);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.checkin-card h2 {
  color: var(--text);
}

.no-goal {
  background: rgba(255, 191, 0, 0.1);
  color: #ffbf00;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ffbf00;
}

.set-goal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background: var(--surface);
  box-shadow: none;
  width: 100%;
}

.set-goal textarea {
  font-family: inherit;
  font-size: 1rem;
  width: 100%;
  padding: 10px;
  color: var(--text);
}

.set-goal button {
  padding: 10px 20px;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background: var(--accent);
  color: var(--surface);
}

.checkin-list {
  list-style: none;
}

.to-dashboard {
  color: var(--surface);
  background: var(--accent);
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.stored-goal {
  font-size: 1.2rem;
  font-style: italic;
  color: var(--text);
}

.checkin-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.checkin-form textarea {
  padding: 10px;
  font-family: inherit;
  color: var(--text);
  font-size: 1rem;
  border: 1px solid var(--gray-light);
  border-radius: 5px;
}

.submit-checkin {
  padding: 10px 20px;
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  background: var(--accent);
  color: var(--surface);
}

@media screen and (min-width: 580px) {
  .recent-checkins {
    grid-column: span 2;
  }
}

@media screen and (min-width: 1120px) {
  .bento {
    grid-template-columns: repeat(2, 1fr);
  }
}
