#goal {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.dashboard-header {
  width: 100%;
  padding: 0;
  margin: 0;
  background: var(--surface);
}

.dashboard-nav {
  box-shadow: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.dashboard.logo {
  font-size: 1.8rem;
}

.dashboard-links {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.dashboard-link,
.check-in-link {
  padding: 10px 5px;
  color: var(--primary);
  border: 1px solid var(--gray-light);
  font-weight: bold;
  font-size: 0.85rem;
  width: 130px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: 
    background 0.3s ease,
    color 0.3s ease,
    border 0.3s ease
  ;
}

.dashboard-link::before {
  content: "◆";
  margin-right: 3px;
}

.check-in-link::before {
  content: "✓";
  margin-right: 3px;
}

.dashboard-link:hover,
.check-in-link:hover {
  background: var(--accent);
  color: var(--surface);
  border: none;
}

.dashboard-main {
  margin-top: 200px;
}

.dashboard-main {
  padding: 20px;
}

.set-goal {
  padding: 20px 40px;
  background: var(--primary);
  color: var(--surface);
  font-weight: bold;
  font-size: 1.35rem;
  border-radius: 10px;
  box-shadow: var(--shadow);
  text-align: center;
}

.goal-form form {
  background: var(--surface);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.goal-label {
  font-size: 1.5rem;
  color: var(--text);
}

.goal-input {
  padding: 10px;
  border: 1px solid var(--gray-light);
  border-radius: 5px;
  font-family: inherit;
  font-size: 1rem;
}

.goal-input:focus {
  outline-color: var(--accent);
}

.submit {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: var(--accent);
  color: var(--surface);
  font-size: 1rem;
}

.bento {
  padding: 10px;
  margin: 20px auto;
}

.bento div {
  box-shadow: var(--shadow);
  background: var(--surface);
}

.streak {
  text-align: center;
}

.count {
  font-size: 3rem;
  color: var(--text);
}

.streak span {
  font-size: 0.9rem;
  color: var(--gray-medium);
}
