.dashboard-header {
  width: 100%;
  padding: 0;
  margin: 0;
  background: var(--surface);
}

.dashboard-nav {
  box-shadow: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.dashboard.logo {
  font-size: 1.8rem;
}

.dashboard-links {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.dashboard-link,
.check-in-link {
  padding: 10px 5px;
  color: var(--primary);
  border: 1px solid var(--gray-light);
  font-weight: bold;
  font-size: 0.85rem;
  width: 130px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: 
    background 0.3s ease,
    color 0.3s ease,
    border 0.3s ease
  ;
}

.dashboard-link::before {
  content: "◆";
  margin-right: 3px;
}

.check-in-link::before {
  content: "✓";
  margin-right: 3px;
}

.dashboard-link:hover,
.check-in-link:hover {
  background: var(--accent);
  color: var(--surface);
  border: none;
}

.dashboard-main {
  margin-top: 200px;
}
