#features {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.features-heading {
  margin-top: 50px;
  color: var(--accent);
  font-size: 1rem;
  font-weight: 550;
  padding: 5px;
  margin-bottom: 10px;
  background: var(--accent-light);
  border: 0.5px solid var(--accent);
  border-radius: 5px;
  width: 300px;
}

.features-sub-heading {
  font-size: 2rem;
  color: var(--primary);
  margin-bottom: 15px;
}

.features-description {
  font-size: 1.1rem;
  margin-bottom: 40px;
}

.cards-container {
  padding: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  padding: 10px 20px;
  background: var(--surface);
  border-radius: 5px;
  border: 1px solid transparent;
  text-align: left;
  box-shadow: var(--shadow);
  position: relative;
  transition: 
    transform 0.3s ease,
    border 0.3s ease
  ;
}

.card:hover {
  border-color: var(--accent);
  transform: translateY(-2px);
}

.card-title {
  margin: 20px 0 15px 0;
  color: var(--accent);
  font-size: 1.2rem;
}
