header {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: var(--bg);
}

nav {
  width: 100%;
  max-width: 1500px;
  background: var(--surface);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 0px 8px 2px var(--gray-light);
  border-radius: 5px;
}

.logo {
  text-decoration: none;
  color: var(--text);
  font-family: "Goodly", "Inter", sans-serif;
  font-size: 1.1rem;
}

.get-started {
  text-align: center;
  transition: transform 0.3s ease;
}

.link-button {
  padding: 5px 10px;
  background: var(--accent);
  color: var(--surface);
  border-radius: 5px;
}

.get-started:hover {
  transform: scale(1.1);
}

.menu {
  width: 25px;
  height: 20px;
}

.menu button {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.one,
.two,
.three {
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background: var(--text);
}

.one.active,
.three.active {
  position: absolute;
  top: 50%;
}

.one.active {
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.three.active {
  transform: rotate(135deg);
  transition: transform 0.3s ease;
}

.two.active {
  visibility: hidden;
  opacity: 0;
}

.links-container {
  width: 100%;
  padding: 10px;
  position: absolute;
  top: 68px;
  left: 0;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.links-container.active {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  animation: drop 0.3s ease forwards;
}

.nav-links {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  background: var(--surface);
  border-left: 3px solid var(--accent);
  border-radius: 5px;
  box-shadow: 0px 0px 8px 2px var(--gray-light)
}

.link {
  text-decoration: none;
  color: var(--text);
  font-size: 1rem;
  cursor: pointer;
}

.link:hover {
  color: var(--accent);
  text-decoration: underline;
}

@keyframes drop {
  from {
    transform: translateY(0);
  }
  
  to {
    transform: translateY(3px);
  }
}

@media screen and (min-width: 769px) {
  .logo {
    font-size: 1.2rem;
  }

  .menu {
    display: none;
  }

  .links-container {
    width: 220px;
    position: static;
    visibility: visible;
    opacity: 1;
    padding: 0;
    pointer-events: auto;
  }

  .nav-links {
    flex-direction: row;
    padding: 10px;
    border: none;
    box-shadow: none;
  }

  .link-button {
    font-size: 1.1rem;
  }
}
