#setup {
  background: var(--primary);
  color: var(--surface);
  font-size: 3rem;
  text-align: center;
  padding: 50px;
}

.setup-container {
  width: 100%;
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.green {
  color: var(--accent);
  font-weight: bold;
}

.white {
  font-size: 1.2rem;
}
